body {
    background: linear-gradient(135deg, #ff00cc, #33ccff);
    color: #158ab1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para hacer el video responsive */
#background-video {
    position: fixed;
    /* para que el video se mantenga en su lugar mientras se desplaza la página */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Fondo para que el video no se vea recortado en pantallas pequeñas */
    object-fit: cover;
    z-index: -1;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
}

#results {
    margin-top: 20px;
    text-align: center;
    color: #007bff;
}

.card {
    border: none;
    transition: all 0.3s ease;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -19px;
    margin-left: -7px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

#search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 575.98px) {
    /* Ajustar el tamaño del video para dispositivos móviles */
    #background-video {
        width: 100vw;
        height: 100vh;
    }

    /* Estilos para tarjetas en dispositivos móviles */
    .card {
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}